
<header id="navbar">
  <nav>
    <form method="GET" action="/">
      <button type="submit" id="homepage_path"></button>
    </form>
    <div id="nameAndLogo">
      <h1 id="main_name">SOUNDSLIDE</h1>
      <i class="fas fa-sliders-h"></i>
    </div>
    </nav>
</header>


