
<header id="navbar">
  <nav>
    <div id="nameAndLogo">
      <a href="http://localhost:8080/"><h1 id="main_name">SOUNDSLIDE</h1></a>
      <i class="fas fa-sliders-h"></i>
    </div>
    </nav>
</header>


