<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Stylesheets -->
  <link rel="stylesheet" href="/styles/navbar.css" type="text/css" />
  <link rel="stylesheet" href="/styles/artists.css" type="text/css" />
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
  integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
   <!-- Google Fonts -->
   <link
   href="https://fonts.googleapis.com/css2?family=Bungee&family=Source+Sans+Pro:ital,wght@0,300;0,600;0,700;1,300;1,700&display=swap"
   rel="stylesheet">
   <!-- Font Awesome -->
   <script src="https://kit.fontawesome.com/03a60bf669.js" crossorigin="anonymous"></script>
  <title>Artists Page</title>
</head>
<body>
  <%-include('./partials/_headers') %>
  <div id="uploadSong">
  <form method="" action="">
    <input type="file" id="trackImg" name="trackimage" accept="image/*">
    <div class="rightSide">
    <input type="file" placeholder="Upload Your Track"/>
    <input type="text" placeholder="Name Your Track"/>
    <select id="genre" name="genre">
      <option value="Rock">Rock</option>
      <option value="Jazz">Jazz</option>
      <option value="Blues">Blues</option>
      <option value="Punk Rock">Punk Rock</option>
      <option value="Electronic">Electronic</option>
      <option value="Metal">Metal</option>
    </select>
    <input type="text" placeholder="Track Discription"/>
    <button type="submit">Upload</button>
  </div>
  </form>
</div>

      <div class="songContainer">

          <% for (let artist of artists){  %>

            <div> <%= artist.name %> <b>(<%= artist.genre %>)</b>
              <div>
                <%= artist.bio %>
              </div>

            </div>

          <% } %>


      </div>


</body>
</html>
