<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Stylesheets -->
  <link rel="stylesheet" href="/styles/navbar.css" type="text/css" />
  <link rel="stylesheet" href="/styles/homepage.css" type="text/css" />
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css2?family=Bungee&family=Source+Sans+Pro:ital,wght@0,300;0,600;0,700;1,300;1,700&display=swap"
    rel="stylesheet">
  <!-- Font Awesome -->
  <script src="https://kit.fontawesome.com/03a60bf669.js" crossorigin="anonymous"></script>
  <title>SOUNDSLIDE</title>
</head>

<body>
  <%-include('./partials/_headers') %>
    <div class="headerContainer">
      <h4>This is SOUNDSLIDE. A non-profit music uploading platform for emerging artists. Choose how much you want to
        pay for a song. All purchases go into the pockets of the artist. </h4>
      <button type="submit">POST A TRACK</button>
    </div>
    <div class="songContainer">

    </div>

</body>

</html>
