
#navbar {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 90px;
  width: 100%;
  font-family: 'Bangers', cursive;
  color: grey url("https://www.transparenttextures.com/patterns/skulls.png");
  top: 0;
  overflow: hidden;
  background-color: #282828;

  #nameAndLogo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: 100%;
  }

  #main_name {
    margin-top: 10px;
    font-size: 4em;
    letter-spacing: 6px;
    color: white;
  }

  i {
    font-size: 3em;
    padding-left: 40px;
    margin-bottom: 42px;
  }

  a {
    text-decoration: none;
  }

}
